* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #ecf2f8;
}
main {
  margin: 24px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (width>=1110px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(2, 266px);
  }
}

.card {
  border-radius: 8px;
  padding: 32px;
  color: white;
  box-shadow: 40px 60px 50px -47px #48556a2a;
}

.card-purple {
  background-color: #733fc8;
  background-image: url(../assets/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 199px top;
}

@media screen and (width>=1110px) {
  .card-purple{
    gri
  }
}

.card__avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  outline: 2px solid #a775f1;
}

.card__info {
  display: flex;
  flex-direction: column;
}

.card__avatar-info {
  display: flex;
  gap: 1.0625rem;
  margin-bottom: 18px;
}
.card__name {
  font-size: 13px;
  font-weight: 500;
}

.card__verified {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  opacity: 50%;
}

.card__opinion {
  margin: 0 0 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.card__opinion-purple {
  margin: 0 0 40px;
}

.card__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  opacity: 70%;
  margin: 0;
}

.card-gray {
  background-color: #48556a;
}

.card-white {
  background-color: white;
  color: #48556a;
}

.card-darkgray {
  background-color: #19202d;
}
